* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 10px;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
}

.btn {
  padding: 1rem 2rem;
  border: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 1rem;
}

.btn:hover, .btn:active {
  background: #f67722;
  border-color: #f67722;
}

.btn--passive {
  color: #00329e;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn--passive:hover, .btn--passive:active {
  background: #aec6f8;
}

.btn--danger {
  background: #d30808;
  color: white;
  border-color: #d30808;
}

.btn--danger:hover, .btn--danger:active {
  background: #ff3217;
  border-color: #ff3217;
}

.btn--success {
  background: #0e7a4d;
  color: white;
  border-color: #0e7a4d;
}

.btn--success:hover, .btn--success:active {
  background: #37aa7a;
  border-color: #37aa7a;
}

@-webkit-keyframes fade-slide-in {
  from {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-slide-in {
  from {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10;
  pointer-events: none;
  display: none;
}

.backdrop.visible {
  display: block;
  pointer-events: all;
}

.header {
  width: 100%;
  height: 10rem;
  background-color: #60a3bc;
}

.header__content {
  background-color: #60a3bc;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 8rem;
}

.header__title {
  color: #fad390;
  font-size: 3rem;
}

.header__button {
  padding: 1.5rem 3rem;
  background: #1e3799;
  border: 1px solid #4a69bd;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #fad390;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__button:hover, .header__button:active {
  background: #4a69bd;
  border-color: #1e3799;
}

.modal {
  position: fixed;
  z-index: 100;
  background: #f5f5f5;
  border-radius: 10px;
  width: 80%;
  top: 30vh;
  left: 10%;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

.modal--addBook .modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal.visible {
  display: block;
  -webkit-animation: fade-slide-in 0.3s ease-out forwards;
          animation: fade-slide-in 0.3s ease-out forwards;
}

.modal__title {
  padding: 2rem;
  font-size: 2rem;
  border-bottom: 1px solid #1e3799;
  border-radius: 10px 10px 0 0;
}

.modal__content {
  margin-top: 2rem;
  padding: 2rem;
  font-size: 1.6rem;
}

.modal__buttons {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__label {
  font-weight: bold;
  margin: 1rem 0;
  color: #464646;
}

.modal__input {
  border: 1px solid #ccc;
  padding: 1rem 0.8rem;
  color: #383838;
}

.modal__input:focus {
  outline: none;
  background: #fff1c4;
}

.entry-text {
  width: 70%;
  max-width: 1000px;
  margin: 4rem auto;
  padding: 3rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.entry-text__content {
  font-size: 3rem;
  text-align: center;
}

.book-list {
  width: 70%;
  max-width: 1000px;
  margin: 2rem auto;
}

.book-list__item {
  margin: 2rem 0;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-list__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.book-list__image-content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.book-list__info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 2rem;
}

.book-list__info-title, .book-list__info-rating {
  font-size: 3rem;
}

.book-list__info-title {
  color: #383838;
  margin-bottom: 2rem;
}

.book-list__info-rating {
  color: white;
  display: inline;
  background: #f67722;
  padding: 1rem 2rem;
  border-radius: 15px;
}

.alert {
  position: fixed;
  z-index: 11;
  margin: 0 auto;
  width: 70%;
  max-width: 1000px;
  padding: 2rem 4rem;
  font-size: 2rem;
  color: #f5f5f5;
  border-radius: 10px;
  text-align: center;
}

.alert--success {
  background: #246d24;
  bottom: 10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.alert--error {
  background: #9c2e2e;
  top: 10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 768px) {
  .modal {
    width: 60rem;
    left: calc(50% - 30rem);
  }
}
/*# sourceMappingURL=main.css.map */