.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -500%);
  z-index: 15;
  width: 80%;
  max-width: 800px;
  padding: 1rem;
  background: $light-color;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition: transform 0.5s ease-in-out;

  &--addBook {
    .modal__content {
      display: flex;
      flex-direction: column;
    }
  }

  &.visible {
    transform: translate(-50%, -50%);
  }

  &__title {
    padding: 2rem;
    font-size: 3rem;
    border-bottom: 1px solid $header-bgcolor;
    border-radius: 10px 10px 0 0;
  }

  &__content {
    padding: 2rem;
    font-size: 2rem;
  }

  &__buttons {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  &__label {
    font-weight: bold;
    margin: 1rem 0;
    color: #464646;
  }

  &__input {
    border: 1px solid #ccc;
    padding: 0.5rem 0.8rem;
    color: #383838;
    font-size: 2rem;

    &:focus {
      outline: none;
      background: $light-color;
    }
  }
}
